<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotaDog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotaDog.Properties.Settings>
            <setting name="IsLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordHash" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSalt" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumentsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysOpenWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotaryFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryCity" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryCountry" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryOfficeName" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryOfficeAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryAuthorityCity" serializeAs="String">
                <value />
            </setting>
            <setting name="NotaryAuthorityCountry" serializeAs="String">
                <value />
            </setting>
        </NotaDog.Properties.Settings>
    </userSettings>
</configuration>